te .video {
  background: #242b33;
  position: relative;
}
te .video__block {
  width: 719px;
  height: 650px;
  background: url("../img/video/video.png") center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
te .video__link {
  transition: 1s;
}
te .video__link:hover {
  transform: scale(1.3);
  transition: 1s;
}
te .video__number {
  position: absolute;
  top: 0;
  right: 0;
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 400px;
  line-height: 533px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.02;
}